@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* font-family: 'Space Grotesk', sans-serif; */

:root {
  --white: #f3f7f6;
  --darkPurple: #312b3b;
  --lightPurple: #453c53;
  --lightBlue: #0e6881;
  --lightBlueHover: #127e9c;
  --notBlack: #0d090a;
}

/* ----- MOBILE ----- */

body {
  max-width: 1920px;
  margin: 0 auto;
  background: var(--notBlack);
  font-family: 'Space Grotesk', sans-serif;
}

/* ----- Header (Mobile & Desktop) ----- */

#navHeader {
  margin-top: 1rem;
  margin-right: 1rem;
  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
}

#navHeader p:hover {
  color: rgba(239, 5, 171, 1);
  transition: 250ms ease-in-out;
}

#navHeader li:hover {
  transition: 250ms ease-in-out;
  border-radius: 0;
}

@media (max-width: 800px) {
  #navHeader {
    display: block;
  }
  #navHeader li {
    position: inherit;
    right: 1rem;
  }
  .navContact {
    margin-top: 2rem;
  }
  .logoText {
    display: none;
  }
}

.navContact {
  margin-left: 1rem;
}

#navHeader li {
  font-size: clamp(1rem, 0.904rem + 0.5488vw, 1.5625rem);
  font-weight: 900;
  color: var(--notBlack);
  letter-spacing: 5px;
  background: var(--white);
  padding: 0.03rem 1rem;
  border-radius: 0.6rem;
}

.logoText {
  position: fixed;
  left: 2%;
  top: 0;
  font-size: 3rem;
  color: var(--white);
  letter-spacing: 15px;
  text-shadow: rgba(239, 5, 171, 1) 0px 5px 0.1px;
}

/* ----- FOOTER ----- */

#footer {
  width: 100%;
  padding: 2rem 0;
  /* background: var(--notBlack); */
  /* --- font --- */
  font-size: clamp(0.6rem, 0.904rem + 0.5488vw, 1rem);
  font-weight: 400;
  color: var(--white);
  letter-spacing: 0.2rem;
  text-align: center;
}

#backToTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  max-width: 5%;
  filter: grayscale(1);
  transition: 250ms ease-in-out;
}

#backToTop:hover {
  filter: grayscale(0);
}

/* ----- INTERSECTION OBSERVER STYLE ----- */

.initialHide {
  opacity: 0;
}

.scrolledLeft {
  opacity: 0;
  transform: translateX(20px);
  animation: scroll-in-left 1.5s forwards;
}

@keyframes scroll-in-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.scrolledRight {
  opacity: 0;
  transform: translateX(20px);
  animation: scroll-in-right 1.5s forwards;
}

@keyframes scroll-in-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.scrolledFadeIn {
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ----- MAIN ----- */

.backToTop {
  position: fixed;
  padding: 10px 10px;
  background: #09c372;
}

/* ----- Hero - sec-1 ----- */

.hero-sec1 {
  background: rgb(24, 14, 71);
  background: linear-gradient(
    90deg,
    rgba(24, 14, 71, 1) 0%,
    rgba(135, 13, 86, 1) 25%,
    rgba(239, 5, 171, 1) 51%,
    rgba(175, 11, 85, 1) 77%,
    rgba(15, 7, 39, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroImg {
  box-shadow: rgba(239, 5, 171, 1) 0px 0px 5px 0.1rem;
}

.heroTitle {
  padding: 30px 40px;
  min-width: 30%;
  border-radius: 15px;
  background: var(--notBlack);
  color: var(--white);
  text-align: center;
  margin-top: -70px;
  margin-bottom: 60px;
  letter-spacing: 10px;
  z-index: 1;
  /* glassmorph */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.heroTitle p {
  font-weight: 900;
  font-size: clamp(1rem, 0.7973rem + 1.1585vw, 2.1875rem);
}

.earthVector {
  max-width: 50%;
}

@media (min-width: 800px) {
  .earthVector {
    max-width: 20%;
    position: absolute;
    left: 20px;
    top: 77px;
  }

  .heroTitle {
    position: absolute;
  }

  .heroImg {
    margin-top: 2%;
    border-radius: 15px;
  }
}

/* ----- Information - sec-2 ----- */

.information-sec2 {
  background: var(--lightPurple);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.informationTitle {
  padding: 30px 40px;
  min-width: 30%;
  border-radius: 15px;
  color: var(--white);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  z-index: 1;
}

.informationTitle p {
  font-weight: 900;
  font-size: clamp(1rem, 0.7973rem + 1.1585vw, 2.1875rem);
}

.alienPlanetVector {
  max-width: 50%;
  margin-bottom: 60px;
}

.informationImg {
  min-width: 80%;
  display: grid;
  place-items: center;
}

.infoImg {
  max-width: 80%;
  color: var(--white);
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(239, 5, 171, 1) 0px 0px 5px 0.1rem;
}

.informationParagraph {
  padding: 30px 40px;
  min-width: 30%;
  border-radius: 15px;
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media (min-width: 800px) {
  .alienPlanetVector {
    position: absolute;
    max-width: 15%;
    right: 1%;
    margin-top: -35%;
  }

  .informationImg {
    display: flex;
    flex-direction: row;
  }

  .infoImg {
    max-width: 50%;
    height: 350px;
    flex: 1;
    margin: 10px;
  }

  .informationParagraph {
    text-align: center;
  }
}

/* ----- GALLERY - sec-3 ----- */

.gallery-sec3 {
  background: var(--darkPurple);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galleryTitle {
  padding: 30px 40px;
  min-width: 30%;
  border-radius: 15px;
  color: var(--white);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.galleryTitle p {
  font-size: clamp(1rem, 0.7973rem + 1.1585vw, 2.1875rem);
  font-weight: 900;
}

.redPlanetVector {
  max-width: 30%;
  margin-top: -50px;
  margin-left: 90%;
}

.tealPurplePlanetVector {
  max-width: 50%;
  margin-bottom: 60px;
}

.galleryContainer {
  margin-bottom: 60px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    'Pic-1 pic-2'
    'pic-3 pic-4'
    'pic-5 pic-6'
    'pic-7 pic-8'
    'pic-9 .';
}

.galleryContainer img {
  border-radius: 15px;
  box-shadow: rgba(239, 5, 171, 1) 0px 0px 5px 0.1rem;
}

.pic-1 {
  grid-area: Pic-1;
}

.pic-2 {
  grid-area: pic-2;
}

.pic-3 {
  grid-area: pic-3;
}

.pic-4 {
  grid-area: pic-4;
}

.pic-5 {
  grid-area: pic-5;
}

.pic-6 {
  grid-area: pic-6;
}

.pic-7 {
  grid-area: pic-7;
}

.pic-8 {
  grid-area: pic-8;
}

.pic-9 {
  grid-area: pic-9;
}

/* MODAL END */

@media (min-width: 800px) {
  .pic-1,
  .pic-2,
  .pic-3,
  .pic-4,
  .pic-5,
  .pic-6,
  .pic-7,
  .pic-8,
  .pic-9 {
    max-width: 100%;
  }

  .galleryContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
  }

  .Pic-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .pic-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .pic-35 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .pic-3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .pic-4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .pic-5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .pic-6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .pic-7 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .pic-8 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .pic-9 {
    grid-area: 3 / 3 / 4 / 4;
  }

  .galleryContainer img {
    width: 413px;
  }

  .redPlanetVector {
    position: absolute;
    right: 0;
    margin-top: 10%;
    margin-right: 5%;
  }

  .tealPurplePlanetVector {
    position: absolute;
    left: 0;
    margin-top: 48%;
    margin-left: 1%;
  }
}

/* ----- CONTACT - sec-4 ----- */

.contact-sec4 {
  background: var(--lightPurple);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactTitle {
  padding: 30px 40px;
  min-width: 30%;
  border-radius: 15px;
  color: var(--white);
  text-align: center;
  letter-spacing: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contactTitle p {
  font-weight: 900;
  font-size: clamp(1rem, 0.7973rem + 1.1585vw, 2.1875rem);
}

.ringPlanetVector {
  max-width: 50%;
  margin-bottom: 60px;
}

.contactImg {
  max-width: 50%;
  margin-bottom: 30px;
  box-shadow: rgba(239, 5, 171, 1) 0px 0px 5px 0.1rem;
}

.contactImgText {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--white);
}

.contactWrapper {
  margin: auto 0;
  display: grid;
  place-items: center;
}

.formContainer {
  margin-bottom: 60px;
  margin: auto;
  max-width: 80%;
  padding: 30px 40px;
  border: solid 2px var(--white);
  border-radius: 15px;
}

input,
textarea,
#form button {
  font-family: inherit;
  font-size: inherit;
  color: var(--white);
}

#form button {
  background: var(--lightBlue);
  border: 0;
  border-radius: 15px;
  width: 50%;
  margin-left: 50%;
  margin-bottom: 50px;
  cursor: pointer;
}

#form button:hover {
  transition: 250ms ease-in-out;
  background: var(--lightBlueHover);
}

.input-control {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  border: 2px solid var(--white);
  background: transparent;
  border: 0;
  border-radius: 15px;
  border: 1px solid var(--white);
  display: block;
  font-size: 12px;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
}

.input-control input {
  border: 2px solid var(--white);
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--white);
  display: block;
  font-size: 12px;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
}

.input-control input:focus,
input:hover {
  outline: 0;
  background: var(--lightBlueHover);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: 250ms ease-in-out;
}

::placeholder {
  color: var(--white);
  opacity: 1;
}

.input-control textarea:focus,
textarea:hover {
  outline: 0;
  background: var(--lightBlueHover);
  transition: 250ms ease-in-out;
}

.input-control.success input {
  border-color: #09c372;
}

input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 12px;
  height: 16px;
  margin-bottom: 5px;
}

/* Chrome autfill remove */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white);
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
}

@media (min-width: 800px) {
  .ringPlanetVector {
    display: 1;
  }

  .contactWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-bottom: 50px;
  }

  .formContainer {
    margin: 0 100px 0 0;
    min-width: 60%;
  }

  .contactImg {
    max-width: 15%;
  }

  .contactImgText {
    writing-mode: vertical-lr;
    letter-spacing: 15px;
  }

  .ringPlanetVector {
    max-width: 20%;
    margin-bottom: 170px;
  }
}
