
@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* font-family: 'Space Grotesk', sans-serif; */

:root {
    --white: #F3F7F6;
    --darkPurple: #312B3B;
    --lightPurple: #453C53;
    --lightBlue: #0E6881;
    --notBlack: #0D090A;
}

/* ----- MOBILE ----- */

body {
    max-width: 1920px;
    margin: 0 auto;
    background: var(--notBlack);
    font-family: 'Space Grotesk', sans-serif;
}

/* This applies from 0px to 600px */
@media (max-width: 800px) {
  body {
    background: green;
  }
}

/* ----- Header (Mobile & Desktop) ----- */

#navHeader {
    margin-top: 1rem;
    margin-right: 1rem;
    position: fixed;
    right: 0;
    z-index: 1;
    display: flex;
}

@media (max-width: 440px) {
    #navHeader {
      display: block;
    }
    #navHeader li{
        position: inherit;
        right: 1rem;
    }
    .navContact {
        margin-top: 2rem;
    }
  }

  .navContact {
    margin-left: 1rem;
}

 #navHeader li {
    font-size: clamp(1rem, 0.904rem + 0.5488vw, 1.5625rem);
    font-weight: 900;
    color: var(--notBlack);
    letter-spacing: 5px;
    background: var(--white);
    padding: 0.03rem 1rem;
    border-radius: 0.6rem;
 }

/* ----- FOOTER ----- */

#footer {
    width: 100%;
    padding: 2rem 0;
    background: var(--notBlack);
    /* --- font --- */
    font-size: clamp(0.6rem, 0.904rem + 0.5488vw, 1rem);    
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.2rem;
    text-align: center;
}

/* ----- MAIN ----- */

#page-container {
  
}

/* ----- Hero - sec-1 ----- */

.hero-sec1 {
    background: var(--darkPurple);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroTitle {
    padding: 30px 40px;
    min-width: 30%;
    border-radius: 15px;
    background: var(--notBlack);
    color:var(--white);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 180px;
}

.heroTitle p {
    font-weight: 900;
    font-size: 1.5rem;
}

.earthVector {
    max-width: 50%;
}

/* ----- Information - sec-2 ----- */

.information-sec2 {
    background: var(--lightPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informationTitle {
    padding: 30px 40px;
    min-width: 30%;
    border-radius: 15px;
    color:var(--white);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.informationTitle p {
    font-weight: 900;
    font-size: 1.5rem;
}

.alienPlanetVector {
    max-width: 50%;
    margin-bottom: 60px;
}

.placeholderImage {
    width: 80%;
    height: 200px;
    background: var(--notBlack);
    color: var(--white);
    display: grid;
    place-content: center;
    margin-top: 10px;
}

.informationParagraph {
    padding: 30px 40px;
    min-width: 30%;
    border-radius: 15px;
    color:var(--white);
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 60px;
}